@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/common';
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap');
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";


body {
	font-family: "Asap Condensed", sans-serif;
}

header {
	section#upper-header {
		text-align: end;
		padding: 0.25rem;
		color: white;
		background-color: $brandColor;
		text-transform: uppercase;
		h6 {
			display: inline-block;
			margin-left: 3rem;
		}
	}
	section#lower-header {
    @include flex(center, space-between, row, 0);
    img {
      padding-left: 1rem;
      width: 95px;
    }
    li {
      padding: 3rem 0;
      font-weight: 600;
      margin-left: 2rem;
      font-size: 1rem;
			text-transform: uppercase;
      display: inline-block;
      border-bottom: 5px solid transparent;
      &.active {
        border-color: $brandColor;
        a {
          color: $brandColor;
        }
      }
      a {
        color: rgb(70, 70, 70);
      }
    }
		input {
			width: 10%;
			border: none;
			font-weight: bold;
			border-bottom: 2px solid $brandColor;
			text-align: end;
			padding: 0.5rem;
			&::placeholder {
				opacity: 1;
				font-size: 1rem;
				color: rgb(70, 70, 70);
				font-family: "Asap Condensed", sans-serif;
			}
		}
	}
}

main {
	section#comics-jumbo {
			height: 43vh;
			position: relative;
			background-image: url("/images/jumbotron.jpg");
			button {
					top: 95%;
					left: 15.5%;
					position: absolute;
					font-size: 1.5rem;
			}
	}
	section#comics-content {
			padding: 1.5rem 0;
			color: white;
			background-color: $secondaryColor;
			.container {
					@include flex(flex-start, center, row, 1.7rem);
					padding-top: 2.5rem;
					flex-wrap: wrap;
					button {
							padding: 0.5rem 3rem;
					}
			div.card {
				height: 210px;
					margin-bottom: 3rem;
					width: calc(100% / 6 - 2rem);
					a img {
						height: 90%;
						width: 100%;
						object-fit: cover;
						object-position: 0% 0%;
					}
					a h4 {
						text-decoration: none;
						color: white;
						margin: 0.85rem 0;
						font-weight: 400;
					}
			}
			}
	}
	section#comics-jumbo.jumbo-cm-detail {
		&::after {
				content:'';
				position: absolute;
				height: 80px;
				width: 100%;
				top: 100%;
				background: $brandColor;
		}
	}
	section#comics-detail {
		padding-top: 5rem;
		div.container {
			width: 55%;
			position: relative;
			margin: 0 auto;
		}
		div.thumb {
			position: absolute;
			bottom: 105%;
			border: 1px solid white;
			&::after {
				content:'view gallery';
				position: absolute;
				height: 20px;
				width: 100%;
				bottom: 0;
				text-transform: uppercase;
				display: block;
				color: white;
				text-align: center;
				padding: 0.25rem 0;
				background: #00A9D9;
			}
		}
		div.wrapper {
			padding: 2rem 0;
			@include flex(center, center, row, 1rem);
			div.info {
				align-self: flex-start;
				h1,
				div.info-availability {
					margin-bottom: 1rem;
				}
				h1 {
					font-size: 2rem;
					text-transform: uppercase;
					color: #003F5E;
				}
				p {
					color: grey;
				}
				div.info-availability {
					padding:0 1rem;
					line-height: 3rem;
					border-bottom: 1px solid rgb(24, 24, 24);
					@include flex(center, space-between, row, 0);
					background-color: #55BA59;
					span {
						color: white;
					}
					p {
						color: #6bf170;
						&:nth-of-type(2) {
							padding-right: 0.75rem;
							border-right: 1px solid rgb(24, 24, 24);
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
	section#news-jumbo {
		height: 43vh;
		position: relative;
		background: url("/images/news-jumbo.jpg") top / cover no-repeat ;
		button {
				top: 95%;
				left: 15.5%;
				position: absolute;
				font-size: 1.5rem;
		}
	}
	section#news-content {
		color: #303030;
		padding: 2rem 0;
		div.container {
			@include flex(center, center, row, 1rem);
			flex-wrap: wrap;
			div.card {
				width: 40%;
				height: 500px;
				background-color: #F7F7F7;
				div.card-img img {
					width: 100%;
				}
				div.card-info {
					font-size: 0.85rem;
					padding: 1rem;
				}
			}
		}
	}
	section#menu {
			padding: 1rem 0;
			text-align: center;
			background-color: $brandColor;
			ul {
				@include flex(center, center, row, 4rem);
				li {
					padding: 2rem 0;
					font-size: 0.8rem;
					display: inline-block;
					a {
							@include flex(center, center, row, 0);
							color: white;
							img {
								height: 55px;
								max-width: 55px;
								margin-right: 0.8rem;
							}
							h4 {
								font-weight: 400;
							}
					}
				}
			}
	}
}


footer {
  section.footer-nav {
    background-image: url("/images/footer-bg.jpg");
    nav {
			padding: 2.5rem 0;
      @include flex(flex-start, flex-start, row, 2rem);
      background: url("/images/dc-logo-bg.png") no-repeat right;
      div.footer-list-col {
				padding-bottom: 1rem;
        h3 {
					color: white;
					padding:1rem 0;
        }
        li {
          padding: 0.12rem 0;
          a {
            font-size: 0.8rem;
            color: rgb(156, 156, 156);
          }
        }
      }
    }
  }
  section.footer-social {
    padding: 1rem 0;
    background-color: #303030;
    font-family: "Asap Condensed", sans-serif;
    div.container {
      @include flex(center, space-between, row, 0);
      div.socials {
        @include flex(center, space-between, row, 1.5rem);
        h2 {
          color: $brandColor;
        }
        img {
          width: 35px;
        }
      }
    }
  }
}

