* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.my-btn-primary {
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  background-color: #107eec;
}

.my-btn-outline-primary {
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  height: 50px;
  padding: 0 1rem;
  border: 2px solid #107eec;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 65%;
  margin: 0 auto;
}

body {
  font-family: "Asap Condensed", sans-serif;
}

header section#upper-header {
  text-align: end;
  padding: 0.25rem;
  color: white;
  background-color: #107eec;
  text-transform: uppercase;
}
header section#upper-header h6 {
  display: inline-block;
  margin-left: 3rem;
}
header section#lower-header {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header section#lower-header img {
  padding-left: 1rem;
  width: 100px;
}
header section#lower-header li {
  padding: 3rem 0;
  font-weight: 600;
  margin-left: 2rem;
  font-size: 0.85rem;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 5px solid transparent;
}
header section#lower-header li.active {
  border-color: #107eec;
}
header section#lower-header li.active a {
  color: #107eec;
}
header section#lower-header li a {
  color: rgb(70, 70, 70);
}

main {
  color: white;
}
main section#comics-jumbo {
  height: 43vh;
  position: relative;
  background-image: url("/images/jumbotron.jpg");
}
main section#comics-jumbo button {
  top: 95%;
  left: 15.5%;
  position: absolute;
  font-size: 1.5rem;
}
main section#comics-content {
  padding: 1.5rem 0;
  background-color: #1C1C1C;
}
main section#comics-content .container {
  display: flex;
  gap: 1.7rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2.5rem;
  flex-wrap: wrap;
}
main section#comics-content .container button {
  padding: 0.5rem 3rem;
}
main section#comics-content .container div.card {
  height: 210px;
  margin-bottom: 3rem;
  width: calc(16.6666666667% - 2rem);
}
main section#comics-content .container div.card img {
  height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 0%;
     object-position: 0% 0%;
}
main section#comics-content .container div.card h4 {
  margin: 0.85rem 0;
  font-weight: 400;
}
main section#news-jumbo {
  height: 43vh;
  position: relative;
  background: url("/images/news-jumbo.jpg") top/cover no-repeat;
}
main section#news-jumbo button {
  top: 95%;
  left: 15.5%;
  position: absolute;
  font-size: 1.5rem;
}
main section#news {
  color: #303030;
  padding: 2rem 0;
}
main section#news div.container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main section#news div.container div.card {
  width: 40%;
  height: 500px;
  background-color: #F7F7F7;
}
main section#news div.container div.card div.card-img img {
  width: 100%;
}
main section#news div.container div.card div.card-info {
  font-size: 0.85rem;
  padding: 1rem;
}
main section#menu {
  padding: 1rem 0;
  text-align: center;
  background-color: #107eec;
}
main section#menu ul {
  display: flex;
  gap: 4rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main section#menu ul li {
  padding: 2rem 0;
  font-size: 0.8rem;
  display: inline-block;
}
main section#menu ul li a {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
main section#menu ul li a img {
  height: 55px;
  max-width: 55px;
  margin-right: 0.8rem;
}
main section#menu ul li a h4 {
  font-weight: 400;
}

footer section.footer-nav {
  background-image: url("/images/footer-bg.jpg");
}
footer section.footer-nav nav {
  padding: 2.5rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: url("/images/dc-logo-bg.png") no-repeat right;
}
footer section.footer-nav nav div.footer-list-col {
  padding-bottom: 1rem;
}
footer section.footer-nav nav div.footer-list-col h3 {
  color: white;
  padding: 1rem 0;
}
footer section.footer-nav nav div.footer-list-col li {
  padding: 0.12rem 0;
}
footer section.footer-nav nav div.footer-list-col li a {
  font-size: 0.8rem;
  color: rgb(156, 156, 156);
}
footer section.footer-social {
  padding: 1rem 0;
  background-color: #303030;
  font-family: "Asap Condensed", sans-serif;
}
footer section.footer-social div.container {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer section.footer-social div.container div.socials {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer section.footer-social div.container div.socials h2 {
  color: #107eec;
}
footer section.footer-social div.container div.socials img {
  width: 35px;
}